/Laravel/node_modules
/Laravel/public/hot
/Laravel/public/storage
/Laravel/storage/*.key
/Laravel/vendor
/Laravel/.idea
/Laravel/.vscode
/Laravel/nbproject
/Laravel/.vagrant
/Laravel/Homestead.json
/Laravel/Homestead.yaml
/Laravel/npm-debug.log
/Laravel/yarn-error.log
/Laravel/.env
/Laravel/.phpunit.result.cache
/Quasar/.quasar
/Quasar/.DS_Store
/Quasar/.thumbs.db
/Quasar/node_modules
/Quasar/dist
/Quasar/src-cordova/node_modules
/Quasar/src-cordova/platforms
/Quasar/src-cordova/plugins
/Quasar/src-cordova/www
/Quasar/npm-debug.log*
/Quasar/yarn-debug.log*
/Quasar/yarn-error.log*

